name: Homebrew Formula Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: Update Homebrew
        run: brew update

      - name: Add this repository as a tap
        run: |
          brew tap catatsuy/tap .

      - name: Build and Install Formula
        run: |
          brew install -v --build-from-source catatsuy/tap/curl-http3-libressl

      - name: Test Formula
        run: |
          brew test catatsuy/tap/curl-http3-libressl

      - name: Cleanup Homebrew Cache
        run: brew cleanup
